body,p {
  margin: 0;
}

.pfp {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
}

.main-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 10px;
}

.middle-section {
  margin-right: 100px;
}

.container1 {
  background-color: rgb(132, 22, 192);
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}